body {
	font-family: 'Fira Sans', sans-serif;
	background-color: linen;
	width: 800px;
	height: 100%;
	margin-left: 150px;

}

h1 {
	display: inline-block;
}


input {
	border: 1px solid black;
	border-radius: 3px;
	padding: 2px;
	margin-left: 20px;
	display: inline-block;
}

section {
	float: left;
	width: 400px;
	
}

/* SIDEBAR */

aside {
	margin-left: 30px;
	float: left;
	width: 350px;
}
	h2{
		border-bottom: 2px solid black;
	}

	.sidebar-date {
		font-weight: 300;
		font-size: 11px;
		color: grey;
	}



.tweet-div {
	border: 1px solid black;
	width: 375px;
	margin: 5px 0 5px 0;
	padding: 5px;
	background-color: ghostwhite;
	
}

.tweet-div:first-of-type {
	border-radius: 15px 15px 0px 0px;
}

.tweet-div:hover {
	background-color: #f5f8fa;
	cursor: pointer;
}

.tweet-div:last-of-type {
	border-radius: 0px 0px 15px 15px;
}


.date {
	font-size: 12px;
	font-weight: 300;

}

.user{
	display: block;
	font-weight: 500;
}

.user.visitor {
	color: cornflowerblue;
}


@media screen and (max-width: 800px) {
	aside {
		float: none;
		display: none;

	}

	body {
		width: 80%;
		font-size: 150%;
		margin: 0 auto;
	}
	
	section {
		width: 100%;
	}

	.tweet-div {
		width: 100%;
	}
}

	
